{%include 'base.html'%}
{% load static %}
{% load tz %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">  
{% endblock  %}
  

{% block content %} 

<div class="container">

  <h1 style="text-decoration: underline;">Insta Clone</h1>

  <!-- Jumbotron -->
  {% for items in posts %}
<div class="">
  <hr>
<!-- Title -->
  <h4 class="card-title h4">
    <img style="float: left;" class="img-fluid rounded-circle" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" width="80" height="80" alt="avatar">
      <strong><span style="margin-left: 5px;">{{ items.user }}</span></strong><br><span style="font-size: 20px;margin-left: 5px;margin-top:-5px;" class="text-muted"><small>{{ items.date| timesince }} ago..</small></span></h4>
      <h5 class="card-title text-muted"></h5>
  <!-- Card image -->
  <div class="view overlay">
    <a href="{% url 'singlePost' items.id %}">
      <img src="{{items.image.url}}" class="img-fluid" alt="">
    </a>
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <h5 class="indigo-text h5 mt-3">{{ items.image_name }}</h5>

  <p class="card-text">{{ items.caption| truncatechars:17 }}</p>

  <!-- Linkedin -->
  <a class="fa-lg p-2 li-ic"><i class="fas fa-thumbs-up">  <span class="text-muted">{{ items.like }}</span></i></a>
  <!-- Twitter -->
  <a class="fa-lg p-2 m-2 tw-ic"><i class="fas fa-comment-dots">  <span class="text-muted">Comment</span></i></a>
  <!-- Dribbble -->
  <a class="fa-lg p-2 m-2 fb-ic"><i class="fas fa-share-alt">  <span class="text-muted">Share</span></i></a>
<br>
  <a class="btn btn-outline-info btn-sm" href="{% url 'singlePost' items.id %}">Full Details</a>

</div>
<hr>
<br>
{% empty %}
<h2 class="text-center" style="text-decoration: underline;">No Posts Available</h2>

{% endfor %}
<!-- Jumbotron -->

<br>
<br>
 
</div>

  {% endblock %}
      
