{%include 'base.html'%}
{% load static %}
{% load tz %}
{% load cloudinary %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}"> 
 
{% endblock  %}
  

{% block content %} 

<div class="container">

  <form class="form-group md-form mr-auto mb-4" action="{% url 'search_results' %}">
    <input class="form-control mr-sm-2" name="users" type="text" placeholder="Search For Users" aria-label="Search">
  <button class="btn btn-outline-dark btn-rounded btn-sm my-0" type="submit">Search</button>
  </form>
<br>
  <!-- Jumbotron -->

  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">

        {% for items in posts %}
        <div class="row mb-2 profile">
          <img style="float: left;" class="img-fluid rounded-circle" src="{{ items.profile.avatar.url }}" alt="avatar">
          <h4 style="margin-left: 10px;"><strong><a href="{% url 'profile' items.profile.user %}"><span>{{ items.user }}</span></a></strong><br><small>
            <span class="text-muted">{{ items.date| timesince }} ago..</span>
          </small></h4>
        </div>
      
        <div>
          <div class="view overlay">    
            <img src="{{items.image.url}}" class="img-fluid" alt="{{ items.image_name }}">
          <a href="{% url 'singlePost' items.id %}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <h4 class="h4 mt-3">{{ items.image_name }}</h4>
      
        <p class="lead card-text">{{ items.caption }}</p>
      
        <!-- Linkedin -->
        <a href="{% url 'likePost' items.id %}" class="fa-lg p-2 li-ic"><i class="far fa-heart" style="color: black;">  <span class="text-muted">{{ items.like }}</span></i></a>
        <!-- Twitter -->
        <a href="{% url 'singlePost' items.id %}" class="fa-lg p-2 m-2 tw-ic"><i class="fas fa-comment" style="color: black;">  <span class="text-muted">Comment</span></i></a>
        <br>
        <a class="btn btn-outline-info btn-sm" href="{% url 'singlePost' items.id %}">View Image</a>

        <hr>
        <br>
        {% empty %}
        <h2 class="text-center" style="text-decoration: underline;">No Posts Available</h2>

        {% endfor %}
      
      </div>

      </div>
      <div class="col-md-2"></div>
  </div>
 
</div>
</div>

<footer class="page-footerk font-small color-dark pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-dark text-center py-3">Copyright (c) 2020
    <a href="https://github.com/Abzed" target="_blank"> Abzed Abdul Mohammed</a>
  </div>
  <!-- Copyright -->

</footer>

  {% endblock %}
      
