/* a{
    text-decoration: none;
}

.jumbotron{
    width: 85%;
    height: 550px;
}

.view img{
    width: 70%;
    height: 290px;
    object-fit: cover;
}

@media screen and (max-width: 720px) {
    .view img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .jumbotron{
        width: 100%;
        height: auto;
    }
} */

.container{
}

.profile>h4 a{
    color: black;
}

.profile>h4 a:hover{
    color: #17a2b8;
}

.overlay img{
    object-fit: fill;
    height: 400px;
    width: 100%;
}

.footer-copyright a{
    color: black;
}
